numpy==1.21.6
torch==1.10.0+cu113
torchvision==0.11.1+cu113
opencv-python==4.5.2.52 
scipy==1.7.3
exifread==3.0.0
rawpy==0.18.1
colour_demosaicing==0.1.6
matplotlib==3.5.3
tensorboard==2.11.2
scikit-image==0.15.0 
setuptools==59.5.0 
scikit-learn==1.0.2

# for Restormer
einops==0.6.1
# for UPI; other versions may work
tensorflow==2.11.0